asn1crypto==0.24.0
certifi==2018.10.15
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
future==0.16.0
idna==2.7
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
oauthlib==2.1.0
pycrypto==2.6.1
pygobject==3.26.1
pymongo==3.7.2
python-twitter==3.4.2
pyxdg==0.25
requests==2.20.0
requests-oauthlib==1.0.0
SecretStorage==2.3.1
six==1.11.0
urllib3==1.26.5
virtualenv==16.0.0
